{#
 # Layouts: Large image
 #
 # @package WordPress
 # @subpackage MatthieuTeyssandier
 #}

{% if layout.item_0.image or layout.item_1.image %}
	<div class="Layout mt-80 mb-80 position-relative Layout-two-images" data-scroll>
		<div class="Site-container">
			<div class="row{{ 'start' == layout.alignment ? ' align-items-lg-start' : ' align-items-lg-end' }}">

				{% if layout.item_0.image %}
					<div class="col-lg-6">
						{{- include( 'components/image.html.twig', { classes: [ 'd-block', 'w-100', 'h-auto' ], image: layout.item_0.image, size: 'size-6' } ) -}}
						{% embed 'components/text-inview.html.twig' %}
							{% block content %}
								<p class="mt-12 mb-0 Layout__caption font-family-title">{{- layout.item_0.caption -}}</p>
							{% endblock %}
						{% endembed %}
					</div>
				{% endif %}

				{% if layout.item_1.image %}
					<div class="mt-80 col-lg-6 mt-lg-0">
						{{- include( 'components/image.html.twig', { classes: [ 'd-block', 'w-100', 'h-auto' ], image: layout.item_1.image, size: 'size-6' } ) -}}
						{% embed 'components/text-inview.html.twig' %}
							{% block content %}
								<p class="mt-12 mb-0 Layout__caption font-family-title">{{- layout.item_1.caption -}}</p>
							{% endblock %}
						{% endembed %}
					</div>
				{% endif %}
			</div>

		</div>
	</div>
{% endif %}
