{#
 # Tease: Case Study
 #
 # @param string size
 # @param boolean next
 # @param array classes
 #
 # @package WordPress
 # @subpackage MatthieuTeyssandier
 #}

<a
	href="{{ case_study.link }}"
	class="Tease-case-study block {{ classes ? classes | join( ' ' ) : '' }}"
	{{ attributes ? attributes | map( ( value, key ) => "#{key}=\"#{value}\"" ) | join( ' ' ) | raw }}
>
	<div class="relative h-full overflow-hidden Tease-case-study rounded-5xl after:bg-black after:mix-blend-hard-light after:z-20 after:absolute after:inset-0 after:opacity-20">
		{{-
			include(
				'components/image.html.twig',
				{
					classes: [ 'absolute', 'inset-0', 'z-10', 'rounded-3xl', 'w-full', 'h-full', 'object-cover', 'object-center' ],
					image: case_study.thumbnail,
					size: size | default( 'size-8' )
				}
			)
		-}}

		{% block title %}
			<div class="relative z-30 flex flex-col w-full px-6 my-6 lg:px-10 lg:my-10 lg:flex-row-reverse lg:items-end min-h-99 lg:min-h-223">
				{% if next %}
					<div class="lg:w-2.5/12 lg:flex ml-auto lg:ml-0">
						<p class="inline-flex items-center ml-auto text-black bg-white border-none button">
							{{- __( 'Next Project', 'matthieuteyssandier' ) -}}{{- icon( 'arrow-right', { classes: [ 'ml-1', 'w-2', 'h-2', 'fill-black' ] } ) -}}
						</p>
					</div>
				{% endif %}
				<div class="uppercase mt-auto lg:mt-0 text-white break-words text-7xl font-bold leading-[.85] lg:w-9.5/12">
					{{- case_study.title -}}
				</div>
			</div>
		{% endblock %}
	</div>
</a>
