{#
 # Tease: Case Study
 #
 # @param string size
 # @param boolean next
 # @param array classes
 #
 # @package WordPress
 # @subpackage MatthieuTeyssandier
 #}

<a
	href="{{ case_study.link }}"
	class="Tease-case-study block group {{ classes ? classes | join( ' ' ) : '' }}"
	{{ attributes ? attributes | map( ( value, key ) => "#{key}=\"#{value}\"" ) | join( ' ' ) | raw }}
>
	<div class="absolute inset-0 h-full overflow-hidden Tease-case-study rounded-5xl after:bg-black after:mix-blend-hard-light after:z-20 after:absolute after:inset-0 after:opacity-20">
		{{-
			include(
				'components/image.html.twig',
				{
					classes: [
						'group-hover:scale-110',
						'transition-transform',
						'duration-2000',
						'ease-out-quint',
						'absolute',
						'inset-0',
						'z-10',
						'rounded-3xl',
						'w-full',
						'h-full',
						'object-cover',
						'object-center',
						'transform-gpu'
					],
					loading: 'eager',
					image: case_study.thumbnail,
					size: size | default( 'size-6' )
				}
			)
		-}}

		{% block title %}
			<div class="relative z-30 flex flex-col w-full h-full p-6 lg:p-10 lg:flex-row-reverse lg:items-end">
				{% if next %}
					<div class="lg:w-2.5/12 lg:flex ml-auto lg:ml-0">
						<div class="inline-flex items-center ml-auto text-black bg-white border-none button">
							<div class="overflow-hidden">
								<span data-copy-button="label" data-text="{{ __( 'Next Project  →', 'matthieuteyssandier' ) }}"
									class="
										after:absolute
										after:top-full
										after:right-0
										after:left-0
										after:content-[attr(data-text)]
										relative
										transition-transform
										duration-800
										ease-out-quint
										inline-block
										group-hover:-translate-y-full
									"
								>{{- __( 'Next Project  →', 'matthieuteyssandier' ) -}}</span>
							</div>
						</div>
					</div>
				{% endif %}
				<div class="uppercase mt-auto lg:mt-0 text-white break-words text-7xl font-bold leading-[.85] lg:w-9.5/12">
					{{- case_study.title -}}
				</div>
			</div>
		{% endblock %}
	</div>
</a>
