{#
 # Tease: Case study
 #
 # @package WordPress
 # @subpackage MatthieuTeyssandier
 #}

<div
	id="case-study-{{ case.id }}"
	class="Tease-case-study{{ classes ? ' ' ~ classes | join( ' ' ) : '' }}"
	data-module-hover
	data-hover-color="{{ case.color }}"
	data-reveal-color="{{ case.color }}"
	data-scroll
	data-scroll-call="play,Reveal"
	data-scroll-id="case-study-{{ case.id }}"
	data-module-reveal="case-study-{{ case.id }}"
>
	<a class="Tease-case-study__link" href="{{ case.link }}"{{ case.title ? " aria-label=\"#{ case.title }\"" : '' }}></a>
	<div class="Tease-case-study__body">
		<canvas data-hover="canvas" style="z-index: 4;"></canvas>
		<canvas data-reveal="canvas"></canvas>
		{{- include( 'components/image.html.twig', { attributes: { style: 'opacity: 0; visibility: hidden;', 'data-reveal': 'image' }, image: case.thumbnail, size: size | default( 'large' ) } ) -}}
	</div>

	{% embed 'components/text-in-view.html.twig' %}
		{% block content %}
			<span class="Tease-case-study__title">
				{{- case.title -}}
				{{- include( 'svg/use.html.twig', { icon: 'arrow-right' } ) -}}
			</span>
		{% endblock %}
	{% endembed %}
</div>
