{#
 # Footer
 #
 # @package WordPress
 # @subpackage MatthieuTeyssandier
 #
 # @author Jérémy Levron <jeremylevron@19h47.fr> (https://19h47.fr)
 #}

<div class="container pb-6">
	<div class="row">
		<div class="flex flex-col items-center justify-between w-full lg:flex-row">
			<ul class="flex justify-center -m-1 lg:-m-2 lg:justify-start">
				<li class="w-1/3 m-1 duration-1000 translate-y-10 opacity-0 lg:m-2 lg:w-auto is-inview:opacity-100 is-inview:translate-y-0 transition-transform-opacity ease-out-quint" data-scroll>
					<a class="block border-current button" href="mailto:{{ options_theme.email.address }}" rel="noopener noreferer" target="_blank">

						<div class="overflow-hidden">
							<span data-copy-button="label" data-text="{{ __( 'Mail', 'matthieuteyssandier' ) }}"
								class="
									after:absolute
									after:top-full
									after:right-0
									after:left-0
									after:content-[attr(data-text)]
									relative
									transition-transform
									duration-800
									ease-out-quint
									inline-block
									group-hover:-translate-y-full
								"
							>{{- __( 'Mail', 'matthieuteyssandier' ) -}}</span>
						</div>
					</a>
				</li>
				{% for social in options_theme.socials %}
					<li class="w-1/3 m-1 duration-1000 translate-y-10 opacity-0 lg:m-2 lg:w-auto is-inview:opacity-100 is-inview:translate-y-0 transition-transform-opacity ease-out-quint" data-scroll style="transition-delay: {{ loop.index * 0.1 }}s;">
						<a class="block border-current button" href="{{ social.link.url }}"{{ social.link.target ? ' rel="noopener norefer" target="_blank"' }}>
							<div class="overflow-hidden">
								<span data-copy-button="label" data-text="{{ social.link.title }}"
									class="
										after:absolute
										after:top-full
										after:right-0
										after:left-0
										after:content-[attr(data-text)]
										relative
										transition-transform
										duration-800
										ease-out-quint
										inline-block
										group-hover:-translate-y-full
									"
								>{{- social.link.title -}}</span>
							</div>
						</a>
					</li>
				{% endfor %}
			</ul>

			<p class="mt-6 text-xs text-center uppercase duration-1000 translate-y-10 opacity-0 lg:text-left lg:mt-0 is-inview:opacity-100 is-inview:translate-y-0 transition-transform-opacity ease-out-quint" data-scroll style="transition-delay: {{ loop.index0 * 0.1 }}s;">
				{{- __( 'All rights reserved %s', '' ) | format( 'now' | date( 'Y' ) ) -}}
			</p>
		</div>
	</div>
</div>
