{#
 # Header
 #
 # @package WordPress
 # @subpackage MatthieuTeyssandier
 # @author Jérémy Levron <jeremylevron@19h47.fr> (https://19h47.fr)
 #}

<div class="container relative z-50 py-2 pointer-events-none header lg:py-11">
	<div class="items-center -my-px row">
		<div class="col-9/12">
			<div class="flex items-center font-family-title header-left">

				<a class="mr-1.5 text-5xl text-current pointer-events-auto leading-7.75 lg:leading-11" href="{{ site.link }}">{{- site.title -}}</a>

				<div class="relative overflow-hidden" data-module-color-picker style="width: 44px;">
					<ul class="flex">
						{% for case in case_studies %}
							<li class="mr-1.5 last:mr-0" style="z-index: {{ ( case_studies | length ) - loop.index }};">
								<button
									class="block w-7.75 h-7.75 rounded-full pointer-events-auto lg:w-11 lg:h-11"
									type="button"
									aria-label="{{ case.title }}"
									style="background-color: {{ case.meta( 'color' ) }};"
									data-module-nav-button
									data-nav-button-color="{{ case.meta( 'color' ) }}"
									data-nav-button-function="open"
									data-nav-button-id="{{ case.id }}"
								></button>
							</li>
						{% endfor %}
					</ul>
				</div>

				{# <a class="ml-1.5 text-6xl text-current pointer-events-auto leading-none" href="{{ site.link }}">{{- 'now' | date( 'Y' ) -}}</a> #}

			</div>


		</div>

		<div class="flex justify-end col-3/12">
			{% if post.link == options_theme.about_page_link %}
				<a
					href="{{ site.link }}"
					class="flex items-center pointer-events-auto button header-right"
					style="transition-delay: 0.1s;"
					data-module-about-page-button
					data-about-page-button-open='{"label":"{{ __( 'Info', 'matthieuteyssandier' ) }}","url":"{{ options_theme.about_page_link }}"}'
					data-about-page-button-close='{"label":"{{ __( 'Close', 'matthieuteyssandier' ) }}","url":"{{ site.link }}"}'
				>
					<span class="w-2.5 h-2.5 mr-1 bg-current rounded-full inline-block"></span>
					<span data-about-page-button="label">{{- __( 'Close', 'matthieuteyssandier' ) -}}</span>
				</a>
			{% else %}
				<a
					href="{{ options_theme.about_page_link }}"
					class="flex items-center pointer-events-auto button header-right"
					style="transition-delay: 0.1s;"
					data-module-about-page-button
					data-about-page-button-open='{"label":"{{ __( 'Info', 'matthieuteyssandier' ) }}","url":"{{ options_theme.about_page_link }}"}'
					data-about-page-button-close='{"label":"{{ __( 'Close', 'matthieuteyssandier' ) }}","url":"{{ site.link }}"}'
				>
					<span class="w-2.5 h-2.5 mr-1 bg-current rounded-full inline-block"></span>
					<span data-about-page-button="label">{{- __( 'Info', 'matthieuteyssandier' ) -}}</span>
				</a>
			{% endif %}
		</div>

	</div>
</div>
