{#
 # Header
 #
 # @package WordPress
 # @subpackage MatthieuTeyssandier
 # @author Jérémy Levron <jeremylevron@19h47.fr> (https://19h47.fr)
 #}

<div class="Site-header">
	<div class="Site-container">
		<div class="row">
			<div class="col-md-4 offset-md-2">
				<div class="Site-title Pointer-events-auto">

					<a class="margin-right-4" href="{{ site.link }}">{{- site.title -}}</a>

					<div class="Color-picker" data-module-color-picker style="width: 20px;">
						<ul>
							{% for case in case_studies %}
								<li style="z-index: {{ ( case_studies | length ) - loop.index }};">
									<button
										type="button"
										aria-label="{{ case.title }}"
										style="background-color: {{ case.meta( 'color' ) }};"
										data-module-nav-button
										data-nav-button-color="{{ case.meta( 'color' ) }}"
										data-nav-button-function="open"
									></button>
								</li>
							{% endfor %}
						</ul>
					</div>

					<a class="margin-left-4" href="{{ site.link }}">{{- 'now' | date( 'Y' ) -}}</a>

				</div>
			</div>

			<div class="col-md-4">
				<div class="Socials Pointer-events-auto">
					<ul>
						{% for social in socials %}
							<li><a href="{{ social.url }}">{{- social.title -}}</a></li>
						{% endfor %}
					</ul>
				</div>
			</div>

			<div class="col-md-2">
				<div class="Site-introduction Pointer-events-auto">
					<div>{{- __( 'Drop me a line for freelance work', 'matthieuteyssandier' ) -}}</div>
					<div class="break"><a href="mail:{{ public_email }}">{{- public_email -}}</a></div>
					<div>{{- __( 'Available in Freelance', 'matthieuteyssandier' ) -}}</div>
				</div>
			</div>
		</div>
	</div>
</div>

<nav class="Nav" data-module-nav>
	<div class="Site-container">
		<div class="row">
			<div>
				<header class="Nav__header">
					<button class="text-transform-uppercase" type="button" data-module-nav-button data-nav-button-function="close">
						{{- __( 'Quitter le menu', 'matthieuteyssandier' ) -}}
					</button>
				</header>
			</div>
		</div>
	</div>
</nav>
<canvas class="Nav-backdrop" data-module-nav-backdrop></canvas>
