{#
 # Index
 #
 # @package WordPress
 # @subpackage MatthieuTeyssandier
 # @author Jérémy Levron <jeremylevron@19h47.fr> (https://19h47.fr)
 #}
<!DOCTYPE html>
<html
    itemscope
    itemtype="http://schema.org/WebPage"
    {{ html_class( 'no-js no-touch is-ontop is-loading' ) }}
    {{ site.language_attributes }}
    data-template="{{ template | default( 'index' ) }}"
>

	<head>

		<meta charset="{{ site.charset }}">
		<link rel="profile" href="http://gmpg.org/xfn/11">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=5,viewport-fit=cover">
		<meta name="format-detection" content="telephone=no">

		{{ function( 'wp_head' ) }}

	</head>

	<body data-module-load="main" data-theme-url="{{ current_url }}">

		{% block header %}
			{{- include( 'header.html.twig', { classes: [] } ) -}}
		{% endblock %}

		<div class="Site-wrapper" data-load-container data-load="container" data-color="{{ post.meta( 'color' ) | default( '#000000' ) }}">
			<div id="{{ post.id ? "page-#{post.id}" : 'page' }}" {{ body_class( 'page-content' ) }} data-module-scroll="main">


				{% block content %}
					{% block blocks %}

						<div data-scroll-section class="my-6 first:mt-0 last:mb-0">
							{% for layout in post.meta( 'layouts' ) %}
								{{-
									include(
										"layouts/#{ layout.acf_fc_layout | lower | replace( { '_' : '-' } ) }.html.twig",
										{
											layout: layout,
											index: loop.index,
											classes: [ loop.first ? 'is-first' : '', loop.last ? 'is-last' : '', 'first:mt-0 last:mb-0' ],
											color: post.meta( 'color' ),
										},
										ignore_missing = true
									)
								-}}
							{% endfor %}
						</div>

					{% endblock %}
				{% endblock %}

				{% block footer %}
					{{- include( 'footer.html.twig' ) -}}
				{% endblock %}

			</div>

		</div>


		{{ function( 'wp_footer' ) }}

		<div id="svg-sprite" style="display: none;">{{- include( 'icons.svg' ) -}}</div>

	</body>

</html>
