{#
 # Index
 #
 # @package WordPress
 # @subpackage MatthieuTeyssandier
 # @author Jérémy Levron <jeremylevron@19h47.fr> (https://19h47.fr)
 #}
<!DOCTYPE html>
<html
    itemscope
    itemtype="http://schema.org/WebPage"
    {{ html_class( 'no-js no-touch is-ontop is-loading' ) }}
    {{ site.language_attributes }}
    data-template="{{ template | default( 'index' ) }}"
>

	<head>

		<meta charset="{{ site.charset }}">
		<link rel="profile" href="http://gmpg.org/xfn/11">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=5,viewport-fit=cover">
		<meta name="format-detection" content="telephone=no">

		{{ function( 'wp_head' ) }}

	</head>

	<body data-module-load="main" data-theme-url="{{ current_url }}">

		{% block header %}
			{{- include( 'header.html.twig', { classes: [] } ) -}}
		{% endblock %}

		<div class="Site-wrapper" data-load-container data-load="container" data-color="{{ post.meta( 'color' ) | default( '#000000' ) }}">
			<div id="{{ post.id ? "page-#{post.id}" : 'page' }}" {{ body_class( 'page-content' ) }} data-module-scroll="main">


				{% block content %}
					{% block blocks %}

						<div class="Layouts" data-scroll-section>
							{% for layout in post.meta( 'layouts' ) %}
								{{-
									include(
										"layouts/#{ layout.acf_fc_layout | lower | replace( { '_' : '-' } ) }.html.twig",
										{
											layout: layout,
											index: loop.index,
											classes: [ loop.first ? 'is-first' : '', loop.last ? 'is-last' : '' ],
											color: post.meta( 'color' ),
										},
										ignore_missing = true
									)
								-}}
							{% endfor %}
						</div>

					{% endblock %}
				{% endblock %}


			</div>

		</div>

		{% block footer %}
			{{- include( 'footer.html.twig' ) -}}
		{% endblock %}

		{{ function( 'wp_footer' ) }}

		<canvas class="top-0 bottom-0 position-absolute end-0 start-0 h-100 w-100 pe-none z-index-5" data-module-nav-backdrop></canvas>

		<nav class="top-0 bottom-0 Nav z-index-10 position-fixed end-0 start-0 h-100 w-100" data-module-nav>
			<div class="Site-container">
				<div class="row">
					<div>
						<header class="mt-32 Nav__header">
							<button class="text-uppercase" type="button" data-module-nav-button data-nav-button-function="close">
								{{- __( 'Quitter le menu', 'matthieuteyssandier' ) -}}
							</button>
						</header>
					</div>
				</div>
			</div>
		</nav>

		<div class="top-0 bottom-0 Loader position-fixed end-0 start-0 d-flex align-items-center justify-content-center background-color-orange-light-grayish z-index-100 js-loader"></div>

		<canvas class="top-0 bottom-0 position-fixed end-0 start-0 h-100 w-100 pe-none z-index-200" data-module-transition></canvas>

		<div id="svg-sprite" class="d-none">{{- include( 'icons.svg' ) -}}</div>

	</body>

</html>
