{#
 # Index
 #
 # @package WordPress
 # @subpackage MatthieuTeyssandier
 # @author Jérémy Levron <jeremylevron@19h47.fr> (https://19h47.fr)
 #}
<!DOCTYPE html>
<html
    itemscope
    itemtype="http://schema.org/WebPage"
    {{ html_class( 'no-js no-touch is-ontop is-loading' ) }}
    {{ site.language_attributes }}
>

	<head>

		<meta charset="{{ site.charset }}">
		<link rel="profile" href="http://gmpg.org/xfn/11">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=5,viewport-fit=cover">
		<meta name="format-detection" content="telephone=no">

		{{ function( 'wp_head' ) }}

	</head>

	<body
		data-module-load="main"
		data-mode="{{ mode | default( 'light' ) }}"
		class="transition-colors ease-out-quint duration-1000 {{ 'dark' == mode ? 'bg-red-very-dark text-gray-light' : 'bg-gray-light text-black' }}"
	>

		{% block header %}
			{{- include( 'header.html.twig', { classes: [] } ) -}}
		{% endblock %}

		<div class="fixed inset-0 z-40 pointer-events-none">
			{% for case_study in case_studies %}
				<div
					class="absolute inset-0 invisible h-full pb-3 overflow-hidden opacity-0 pointer-events-auto pt-37 lg:pb-6 transition-opacity-visibility duration-450 ease-out-quint lg:pt-33"
					data-module-nav-item="{{ case_study.id }}"
				>

					<div class="container h-full">
						<div class="h-full row">
							<div class="flex flex-col lg:col-4/12">
								{% if case_study.terms( 'case_study_cat' ) %}
									<div class="lg:mt-auto">
										<ul class="flex flex-wrap -m-1 lg:-my-2 lg:-mx-3">
											{% for cat in case_study.terms( 'case_study_cat' ) %}
												<li
													class="m-1 duration-1000 translate-y-10 opacity-0 lg:mx-3 lg:my-2 is-inview:opacity-100 is-inview:translate-y-0 transition-transform-opacity ease-out-quint"
													data-nav-item="cat"
													style="transition-delay: {{ loop.index0 * 0.1 }}s;"
												>
													<p class="text-black button">{{- cat.name -}}</p>
												</li>
											{% endfor %}
										</ul>
									</div>
								{% endif %}

								<div class="hidden lg:block {{ case_study.terms( 'case_study_cat' ) ? 'mt-10' : '' }}">
									<a
										class="inline-flex items-center text-black duration-1000 translate-y-10 bg-white border-none opacity-0 button is-inview:opacity-100 is-inview:translate-y-0 transition-transform-opacity ease-out-quint"
										data-nav-item="item"
										href="{{ case_study.link }}"
										style="transition-delay: {{ ( case_study.terms( 'case_study_cat' ) | length ) * 0.1 }}s;"
									>
										<div class="overflow-hidden">
											<span
												data-text="{{ __( 'Discover →', 'matthieuteyssandier' ) }}"
												class="after:absolute after:top-full after:right-0 after:left-0 after:content-[attr(data-text)] relative transition-transform duration-800 ease-out-quint inline-block group-hover:-translate-y-full"
											>
												{{- __( 'Discover →', 'matthieuteyssandier' ) -}}
											</span>
										</div>
									</a>
								</div>
							</div>

							<div class="mt-auto duration-1000 translate-y-10 opacity-0 lg:h-full lg:col-8/12 lg:mt-0 is-inview:opacity-100 is-inview:translate-y-0 transition-transform-opacity ease-out-quint" data-nav-item="item">
								<a href="{{ case_study.link }}" class="relative block overflow-hidden group lg:h-full after:z-20 after:bg-black after:w-full after:absolute after:top-0 after:right-0 after:bottom-0 after:h-full after:mix-blend-hard-light after:opacity-20 rounded-5xl">
									<div
										class="opacity-0 transition-transform-opacity ease-out-quint duration-1000 translate-y-10 is-inview:opacity-100 is-inview:translate-y-0 absolute z-30 bottom-0 left-0 right-0 mx-6 mb-6.25 lg:mx-10 lg:mb-10 uppercase text-white break-words font-bold text-7xl leading-[.85]" data-nav-item="item"
										style="transition-delay: {{ 0.1 + ( ( case_study.terms( 'case_study_cat' ) | length ) * 0.1 ) }}s;">
										{{- case_study.title -}}
									</div>
									{{-
										include(
											'components/image.html.twig',
											{
												size: 'size-4',
												image: case_study.thumbnail,
												classes: [
													case_study.mobile_thumbnail ? 'hidden lg:block' : '',
													'relative',
													'z-10',
													'w-full',
													'lg:h-full',
													'object-cover',
													'object-center',
													'group-hover:scale-110',
													'transition-transform',
													'duration-2000',
													'ease-out-quint',
												]
											}
										)
									-}}
									{{-
										include(
											'components/image.html.twig',
											{
												size: 'size-2',
												image: case_study.mobile_thumbnail,
												classes: [ 'lg:hidden', 'relative', 'z-10', 'w-full', 'lg:h-full', 'object-cover', 'object-center' ]
											}
										)
									-}}
								</a>
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>

		<div data-load-container data-url="{{ current_url }}" data-load="container" data-mode="{{ mode | default( 'light' ) }}" data-template="{{ template | default( 'index' ) }}">
			<div id="{{ post.id ? "page-#{post.id}" : 'page' }}" {{ body_class( 'page-content' ) }} data-module-scroll="main">


				{% block content %}
					{% block blocks %}

						{% if post.meta( 'layouts' ) %}
							<div class="my-6 first:mt-0 last:mb-0">
								{% for layout in post.meta( 'layouts' ) %}
									{{-
										include(
											"layouts/#{ layout.acf_fc_layout | lower | replace( { '_' : '-' } ) }.html.twig",
											{
												props: layout,
												index: loop.index,
												classes: [ loop.first ? 'is-first' : '', loop.last ? 'is-last' : '', 'first:mt-0 last:mb-0' ],
												color: post.meta( 'color' ),
											},
											ignore_missing = true
										)
									-}}
								{% endfor %}
							</div>
						{% endif %}

					{% endblock %}
				{% endblock %}

				{% block footer %}
					{{- include( 'footer.html.twig' ) -}}
				{% endblock %}

			</div>

		</div>

		{{ function( 'wp_footer' ) }}
		<canvas class="absolute inset-0 w-full h-full pointer-events-none z-5" data-module-nav-backdrop></canvas>
		<div id="svg-sprite" style="display: none;">{{- include( 'icons.svg' ) -}}</div>

		<div class="fixed inset-0 z-50 flex items-center transition-all duration-1000 bg-white js-loader is-first-load:opacity-0 is-first-load:invisible">
			<div class="container relative z-1">
				<div class="row">
					<div>
						<div class="flex items-center lg:mx-14">
							<span class="inline-block text-black transition-opacity duration-1000 opacity-0 text-7xl js-loader-progress tabular-nums ease-out-quint">100</span>

							<ul class="relative w-full ml-auto h-11 js-loader-wrapper">

								{% for case in case_studies %}
									<li class="absolute inset-y-0 right-0 w-11 js-loader-item">
										<span class="block w-full h-full rounded-full" style="background-color: {{ case.meta( 'color' ) }};"></span>
									</li>
								{% endfor %}

								<li class="absolute inset-y-0 right-0 w-11 js-loader-item">
									<span class="block w-full h-full rounded-full" style="background-color: {{ 'dark' == mode ? '#242021' : '#eae9e8' }};"></span>
								</li>
							</ul>

						</div>

					</div>
				</div>
			</div>

			<canvas class="absolute inset-0 w-full h-full pointer-events-none z-2 js-loader-canvas" data-color="{{ 'dark' == mode ? '#242021' : '#eae9e8' }}"></canvas>
		</div>

	</body>

</html>
