{#
 # Index
 #
 # @package WordPress
 # @subpackage MatthieuTeyssandier
 # @author Jérémy Levron <jeremylevron@19h47.fr> (https://19h47.fr)
 #}

<!DOCTYPE html>
<!--[if IE 9]>
<html {{ html_class( 'ie9 no-js no-touch is-ontop is-loading' ) }} {{ site.language_attributes }}>
<![endif]-->
<!--[if !(IE 9)]><!-->
<html {{ site.language_attributes }} {{ html_class( 'no-js no-touch is-ontop is-loading' ) }}>
<!--<![endif]-->

	<head>

		<meta charset="{{ site.charset }}">
		<link rel="profile" href="http://gmpg.org/xfn/11">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=5,viewport-fit=cover">
		<meta name="format-detection" content="telephone=no">

		<link rel="stylesheet" href="https://use.typekit.net/waj2avu.css">

		{{ function( 'wp_head' ) }}

	</head>

	<body data-module-load="main">

		<div class="Loader js-loader"></div>

		{% block header %}
			{{- include( 'header.html.twig', { classes: [] } ) -}}
		{% endblock %}

		<div
			class="Site-wrapper"
			data-load-container
			data-load="container"
		>
			<div
				id="{{ post.id ? "page-#{post.id}" : 'page' }}"
				{{ body_class( 'page-content' ) }}
				data-module-scroll="main"
			>


				{% block content %}
					{% block blocks %}

						<div class="Layouts">
							{% for layout in post.meta( 'layouts' ) %}
								{{-
									include(
										"layouts/#{ layout.acf_fc_layout | lower | replace( { '_' : '-' } ) }.html.twig",
										{
											layout: layout,
											index: loop.index,
											classes: [ loop.first ? 'is-first' : '', loop.last ? 'is-last' : '' ],
											color: post.meta( 'color' ),
										},
										ignore_missing = true
									)
								-}}
							{% endfor %}
						</div>

					{% endblock %}
				{% endblock %}


			</div>

		</div>

		{% block footer %}
			{{- include( 'footer.html.twig' ) -}}
		{% endblock %}

		{{ function( 'wp_footer' ) }}

		<div id="svg-sprite" class="d-none">{{- include( 'icons.svg' ) -}}</div>

	</body>

</html>
