{#
 # Front page
 #
 # @package WordPress
 # @subpackage MatthieuTeyssandier
 #}

{% extends 'index.html.twig' %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="lg:col-4/12 Fade-inview mb-80 mb-lg-0" data-scroll>
				<h1 class="mt-0 Site-description font-family-title">{{- site.description -}}</h1>
				<div class="Wysiwyg">{{- post.content -}}</div>
			</div>

			{% for case in case_studies %}
				<div class="{{ loop.first ? 'col-lg-8' : 'col-lg-4 mt-80' }}">
					{{-
						include(
							'components/tease-case-study.html.twig',
							{
								classes: [ loop.first ? 'is-first' : null ],
								size: loop.first ? 'size-8' : 'size-4',
								case: {
									id: case.id,
									title: case.title,
									color: case.meta( 'color' ),
									link: case.link,
									thumbnail: case.thumbnail,
								}
							}
						)
					-}}
				</div>

				{% if 9 == loop.index and ( post.meta( 'biography' ).english or post.meta( 'biography' ).french ) %}
					<div class="lg:col-4/12 mt-80">
						<div class="Wysiwyg">
							{{- post.meta( 'biography' ).english ? "<p>#{ post.meta( 'biography' ).english | nl2br }</p>" : '' -}}
							{{- post.meta( 'biography' ).french ? "<p class=\"color-yellow-dark-grayish\">#{ post.meta( 'biography' ).french | nl2br }</p>" : '' -}}
						</div>
					</div>
				{% endif %}

				{% if 10 == loop.index %}
					<div class="lg:col-4/12 mt-80">
						<ul>
						{% for award in post.meta( 'awards' ) %}
							<li>{{- award.title }} {{ award.value -}}</li>
						{% endfor %}
						</ul>
					</div>
				{% endif %}

			{% endfor %}
		</div>
	</div>
{% endblock %}
