{#
 # Single: Case Study
 #
 # @package WordPress
 # @subpackage MatthieuTeyssandier
 #}

{% extends 'index.html.twig' %}

{% block content %}

	<div class="relative z-0 pb-6 mt-14 lg:mt-33.5">
		<div class="container my-6 first:mt-0 last:mb-0">
			<div class="text-center row">

				<div>
					<h1 class="uppercase text-7xl font-bold leading-[.85] break-words is-inview:opacity-100 is-inview:translate-y-0 opacity-0 transition-transform-opacity ease-out-quint duration-1000 translate-y-10" data-scroll>
						{{- post.title -}}
					</h1>
				</div>

				{% if post.terms( 'case_study_cat' ) %}
					<div class="mt-10">

						<ul class="inline-flex flex-wrap justify-center -m-1 lg:-m-2">
							{% for cat in post.terms( 'case_study_cat' ) %}
								<li class="m-1 duration-1000 translate-y-10 opacity-0 lg:m-2 is-inview:opacity-100 is-inview:translate-y-0 transition-transform-opacity ease-out-quint" data-scroll style="transition-delay: {{ loop.index0 * 0.1 }}s;">
									<p class="button">{{- cat.name -}}</p>
								</li>
							{% endfor %}
						</ul>

					</div>
				{% endif %}
			</div>

			{% if post.thumbnail %}
				<div class="mt-9 lg:mt-11 row">
					<div>
						<div
							class="{{
								[
									'relative ',
									'overflow-hidden ',
									'duration-1000',
									'transition-transform-opacity',
									'translate-y-10',
									'opacity-0',
									'pb-908/1872',
									'rounded-xl',
									'lg:rounded-5xl',
									'ease-out-cubic',
									'is-inview:opacity-100',
									'is-inview:translate-y-0'
								] | join( ' ' )
							}}"
							data-scroll
						>
							{{-
								include(
									'components/image.html.twig',
									{
										size: 'size-6',
										image: post.thumbnail,
										loading: 'eager',
										classes: [ 'absolute', 'inset-0', 'w-full', 'h-full', 'object-cover', 'object-center' ]
									}
								)
							-}}
						</div>
					</div>
				</div>
			{% endif %}

			{% if post.meta( 'content' ).french or post.meta( 'content' ).english or post.meta( 'credits' ) or post.meta( 'link' ) %}
				<div class="my-20 lg:my-32 row is-inview:opacity-100" data-scroll>
					{% if post.meta( 'content' ).french or post.meta( 'content' ).english %}
						<div class="lg:col-6/12 {{ post.meta( 'credits' ) or post.meta( 'link' ) ? 'mb-10 lg:mb-0' : '' }}">
							<p class="text-4xl leading-normal tracking-tight indent-1/3">
								{{- post.meta( 'content' ).english -}}
							</p>
							<p class="mt-10 text-4xl leading-normal tracking-tight indent-1/3 text-gray-dark">
								{{- post.meta( 'content' ).french -}}
							</p>
						</div>
					{% endif %}


					{% if post.meta( 'credits' ) or post.meta( 'link' ) %}
						<div class="lg:hidden"><hr class="w-full h-px border-none bg-black/10"></div>

						<div class="lg:ml-2/12 lg:col-4/12 {{ post.meta( 'content' ).french or post.meta( 'content' ).english ? 'mt-10 lg:mt-0' }}">
							<p>
								<span class="inline-flex button">
									{{- __( 'Credits', 'matthieuteyssandier' ) -}}
								</span>
							</p>
							<div class="mt-10">
								<ul class="-my-4 text-base leading-none">
									{% for credit in post.meta( 'credits' ) %}
										<li class="my-4"><strong>{{ credit.key }}</strong>: {{ credit.value }}</li>
									{% endfor %}
								</ul>
							</div>
							{% if post.meta( 'link' ) %}
								<a
									class="inline-block mt-4 text-base underline"
									href="{{ post.meta( 'link' ) }}"
									target="_blank" rel="noopener noreferer"
								>
									{{- __( 'Visit website', 'matthieuteyssandier' ) -}}
								</a>
							{% endif %}
						</div>
					{% endif %}

				</div>
			{% endif %}

		</div>

		{{ parent() }}

		{% if post.prev %}
			<div class="container mt-6 lg:mt-33">
				<div class="row">

					<div class="d-flex col-full {{ post.prev.meta( 'preview' ) ? 'lg:col-8/12' : '' }}">
						{{- include(
							'components/tease-case-study.html.twig',
								{
									case_study: post.prev,
									size: post.prev.meta( 'preview' ) ? 'size-4' : 'size-6',
									next: true,
									classes: [ 'pb-396/389', post.prev.meta( 'preview' ) ? 'lg:pb-892/1241' : 'lg:pb-892/1872' , 'relative' ]
								}
							)
						-}}
					</div>

					{% if post.prev.meta( 'preview' ) %}
						<div class="hidden lg:col-4/12 lg:flex">
							{{-
								include(
									'components/image.html.twig',
									{
										size: 'size-2',
										image: post.prev.meta( 'preview' ),
										classes: [ 'rounded-xl', 'lg:rounded-5xl', 'w-full', 'h-full', 'object-cover', 'object-center' ]
									}
								)
							-}}
						</div>
					{% endif	%}
				</div>
			</div>
		{% endif %}
	</div>
{% endblock %}
