{#
 # Single: Case study
 #
 # @package WordPress
 # @subpackage MatthieuTeyssandier
 #}

{% extends 'index.html.twig' %}

{% block content %}

	<div class="Site-container">
		<div class="row">
			<div>
				{% embed 'components/text-inview.html.twig' %}
					{% block content %}
						<h1 class="m-0 text-center text-uppercase">{{- post.title -}}</h1>
					{% endblock %}
				{% endembed %}
			</div>
		</div>
	</div>

	{{ parent() }}

	{% if post.prev %}
		<div class="Site-container">
			<div class="row">
				<div class="col-lg-3 d-lg-flex flex-lg-column justify-content-lg-between mb-lg-40">
					{% embed 'components/text-inview.html.twig' %}
						{% block content %}
							<a class="Navigation-link text-uppercase" href="{{ post.prev.link }}" data-load="caseStudy" data-module-transition-button data-transition-button-color="{{ post.prev.meta( 'color' ) | default( '#000000' ) }}">Next</a>
						{% endblock %}
					{% endembed %}
					{% embed 'components/text-inview.html.twig' %}
						{% block content %}
							<a class="Navigation-link color-yellow-dark-grayish text-uppercase" href="{{ post.prev.link }}" data-load="caseStudy" data-module-transition-button data-transition-button-color="{{ post.prev.meta( 'color' ) | default( '#000000' ) }}">Suivant</a>
						{% endblock %}
					{% endembed %}
				</div>
				<div class="mt-40 col-lg-9 mt-lg-0">
					{{-
						include(
							'components/tease-case-study.html.twig',
							{
								size: 'size-9',
								case: {
									id: post.prev.id,
									thumbnail: post.prev.thumbnail,
									color: post.prev.meta( 'color' ),
									title: post.prev.title,
									link: post.prev.link
								}
							}
						)
					-}}
				</div>
			</div>
		</div>
	{% endif %}
{% endblock %}
