{#
 # Single: Case study
 #
 # @package WordPress
 # @subpackage MatthieuTeyssandier
 #}

{% extends 'index.html.twig' %}

{% block content %}

	<div class="Site-container">
		<div class="row">
			<div>
				{% embed 'components/text-in-view.html.twig' %}
					{% block content %}
						<h1 class="m-0 text-center text-uppercase">{{- post.title -}}</h1>
					{% endblock %}
				{% endembed %}
			</div>
		</div>
	</div>

	{{ parent() }}

	{% if post.prev %}
		<div class="Site-container">
			<div class="row">
				<div class="col-md-3 d-md-flex flex-md-column justify-content-md-between">
					<a href="{{ post.prev.link }}" data-load="caseStudy">Next</a>
					<a href="{{ post.prev.link }}" data-load="caseStudy">Suivant</a>
				</div>
				<div class="col-md-9">
					{{-
						include(
							'components/tease-case-study.html.twig',
							{
								size: 'size-9',
								case: {
									id: post.prev.id,
									thumbnail: post.prev.thumbnail, color: post.prev.meta( 'color' ),
									title: post.prev.title,
									link: post.prev.link
								}
							}
						)
					-}}
				</div>
			</div>
		</div>
	{% endif %}
{% endblock %}
