{#
 # Single: Case study
 #
 # @package WordPress
 # @subpackage MatthieuTeyssandier
 #}

{% extends 'index.html.twig' %}

{% block content %}

	{% for layout in post.meta('layouts') %}
		{{ dump(layout)}}
	{% endfor %}

	<div class="container my-6 first:mt-0 last:mb-0">
		<div class="row">
			{% if post.terms( 'case_study_cat' ) %}
				<div class="lg:col-2/12">
					<ul class="flex flex-wrap -mx-3 -my-2">
						{% for cat in post.terms( 'case_study_cat' ) %}
							<li class="mx-3 my-2"><p class="button">{{- cat.name -}}</p></li>
						{% endfor %}
					</ul>
				</div>
			{% endif %}

			<div class="lg:col-10/12 {{ post.terms( 'case_study_cat' ) ? '' : 'lg:ml-2/12' }}">
				<h1 class="uppercase text-15xl leading-[.85] break-words">{{- post.title -}}</h1>
			</div>
		</div>

		{% if post.thumbnail %}
			<div class="mt-32 row">
				<div>
					{{- include( 'components/image.html.twig', { size: 'size-12', image: post.thumbnail, classes: [ 'rounded-5xl', 'max-w-full', 'mx-auto', 'h-auto' ] } ) -}}
				</div>
			</div>
		{% endif %}

		{% if post.meta( 'content' ).french or post.meta( 'content' ).english %}
			<div class="my-32 row">
				<div class="lg:col-6/12">
					<p class="text-4xl leading-normal tracking-tight indent-1/3">{{- post.meta( 'content' ).french -}}</p>
					<p class="mt-10 text-4xl leading-normal tracking-tight indent-1/3 text-gray-dark">{{- post.meta( 'content' ).english -}}</p>
				</div>
			</div>
		{% endif %}
	</div>

	{{ parent() }}

	{% if post.prev %}
		<div class="container first:mt-0 last:mb-0">
			<div class="row">
				<div class="col-lg-3 d-lg-flex flex-lg-column justify-content-lg-between mb-lg-40">
					{% embed 'components/text-inview.html.twig' %}
						{% block content %}
							<a class="Navigation-link text-uppercase" href="{{ post.prev.link }}" data-load="caseStudy" data-module-transition-button data-transition-button-color="{{ post.prev.meta( 'color' ) | default( '#000000' ) }}">Next</a>
						{% endblock %}
					{% endembed %}
					{% embed 'components/text-inview.html.twig' %}
						{% block content %}
							<a class="Navigation-link color-yellow-dark-grayish text-uppercase" href="{{ post.prev.link }}" data-load="caseStudy" data-module-transition-button data-transition-button-color="{{ post.prev.meta( 'color' ) | default( '#000000' ) }}">Suivant</a>
						{% endblock %}
					{% endembed %}
				</div>
				<div class="mt-40 col-lg-9 mt-lg-0">
					{{-
						include(
							'components/tease-case-study.html.twig',
							{
								size: 'size-9',
								case: {
									id: post.prev.id,
									thumbnail: post.prev.thumbnail,
									color: post.prev.meta( 'color' ),
									title: post.prev.title,
									link: post.prev.link
								}
							}
						)
					-}}
				</div>
			</div>
		</div>
	{% endif %}
{% endblock %}
