{#
 # Single: Case Study
 #
 # @package WordPress
 # @subpackage MatthieuTeyssandier
 #}

{% extends 'index.html.twig' %}

{% block content %}

	<div class="relative z-0 pb-6 mt-14 lg:mt-33.5">
		<div class="container my-6 first:mt-0 last:mb-0">
			<div class="text-center row">

				<div>
					<h1 class="uppercase text-7xl font-bold leading-[.85] break-words fade-up-inview" data-scroll>
						{{- post.title -}}
					</h1>
				</div>

				{% if post.terms( 'case_study_cat' ) %}
					<div class="mt-10">

						<ul class="inline-flex flex-wrap justify-center -m-2">
							{% for cat in post.terms( 'case_study_cat' ) %}
								<li class="m-2 fade-up-inview" data-scroll style="transition-delay: {{ loop.index0 * 0.1 }}s;">
									<p class="button">{{- cat.name -}}</p>
								</li>
							{% endfor %}
						</ul>

					</div>
				{% endif %}
			</div>

			{% if post.thumbnail %}
				<div class="mt-9 lg:mt-11 row">
					<div>
						<div class="relative overflow-hidden pb-908/1872 rounded-5xl fade-inview" data-scroll>
							{{-
								include(
									'components/image.html.twig',
									{
										size: 'size-12',
										image: post.thumbnail,
										classes: [ 'absolute', 'inset-0', 'w-full', 'h-full', 'object-cover', 'object-center' ]
									}
								)
							-}}
						</div>
					</div>
				</div>
			{% endif %}

			{% if post.meta( 'content' ).french or post.meta( 'content' ).english %}
				<div class="my-32 row fade-inview" data-scroll>
					<div class="lg:col-6/12">
						<p class="text-4xl leading-normal tracking-tight indent-1/3">
							{{- post.meta( 'content' ).english -}}
						</p>
						<p class="mt-10 text-4xl leading-normal tracking-tight indent-1/3 text-gray-dark">
							{{- post.meta( 'content' ).french -}}
						</p>
					</div>

					<div class="lg:ml-2/12 lg:col-4/12">
						<p class="inline-flex button">{{- __( 'Credits', 'matthieuteyssandier' ) -}}</p>
						<div class="mt-10">
							<ul class="-my-4 text-2xl leading-none">
								{% for credit in post.meta( 'credits' ) %}
									<li class="my-4"><strong>{{ credit.key }}</strong>: {{ credit.value }}</li>
								{% endfor %}
							</ul>
						</div>
						<a class="inline-block mt-4 text-2xl underline" href="{{ post.meta( 'link' ) }}" target="_blank" rel="noopener noreferer">
							{{- __( 'Visit website', 'matthieuteyssandier' ) -}}
						</a>
					</div>
				</div>
			{% endif %}
		</div>

		{{ parent() }}

		{% if post.prev %}
			<div class="container mt-33" data-thumbnail="{{ post.prev.thumbnail }}">
				<div class="row">

					<div class="d-flex col-full {{ post.prev.meta( 'preview' ) ? 'lg:col-8/12' : '' }}">
						{{- include(
							'components/tease-case-study.html.twig',
								{
									case_study: post.prev,
									size: post.prev.meta( 'preview' ) ? 'size-8' : 'size-12',
									next: true,
									classes: [ 'pb-396/389', post.prev.meta( 'preview' ) ? 'lg:pb-892/1241' : 'lg:pb-892/1872' , 'relative' ]
								}
							)
						-}}
					</div>

					{% if post.prev.meta( 'preview' ) %}
						<div class="hidden lg:col-4/12 lg:flex">
							{{-
								include(
									'components/image.html.twig',
									{
										size: 'size-4',
										image: post.prev.meta( 'preview' ),
										classes: [ 'rounded-3xl', 'w-full', 'h-full', 'object-cover', 'object-center' ]
									}
								)
							-}}
						</div>
					{% endif	%}
				</div>
			</div>
		{% endif %}
	</div>
{% endblock %}
